.employees, 
.newHireForm  { 
    border: 1px solid #0b0607;
    box-shadow: 1px 1px 1px #000000;
    background-color: #590302; 
    color: #e38e4d; 
    padding: 20px 40px; 
    opacity: 85%; 
    margin: 30px 40px; 
    font-family: 'Caveat', cursive;
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-evenly; 
    align-content: center; 
}

.employee { 
    padding: 20px; 
}

.link { 
    color: #e38e4d;  

}
 
button { 
    float: right; 
}

.newHireForm_header { 
    text-decoration: underline; 
}

.newHireForm { 
    display: flex; 
    flex-flow: column wrap; 
}

.form-group { 
    display: flex; 
    flex-direction: row; 
}
